body {
	background-color:#02021D;
}
h1 {
	font-size: 60px;
	color: #C62C2C;
	font-family: "Press Start 2P";
}
h2 {
	font-size: 40px;
	color: #FCF3F3;
	font-family: "Sarabun";
	margin-left: 20vw;
	margin-right: 20vw;
}
h3 {
	font-size: 32px;
	color: #FCF3F3;
	font-family: "Sarabun";
}
p2 {
	font-size: 32px;
	color: #FCF3F3;
	font-family: "Sarabun";
	margin-left: 20vw;
	margin-right: 20vw;
}
p {
	font-size: 1.2vw;
	color: #FCF3F3;
	font-family: "Sarabun";
}
table, th, td {
	border-collapse: collapse;
	padding: 20px;
}
table {
	width: 70%;
	border: 4px solid white;
	border-style: dotted;
}
th {
	font-size: 36px;
	color: #FCF3F3;
	font-family: "Sarabun";
}
td {
	border: 1px solid white;
	font-size: 24px;
	color: #FCF3F3;
	font-family: "Sarabun";
	text-align: center;
}
table tr:nth-child(even){
	background-color:#001331;
}